* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue, Helvetica, sans-serif;
    // overflow: hidden;
    background-color: #18181B;
    display: content;
    height: 100vh;

    @media screen and (min-width:780px) {

        display: grid;
        grid-template-areas:
            "nav header header"
            "nav section aside"
            "nav footer footer";
        grid-template-rows: 80px 1fr 50px;
        grid-template-columns: 25% 1fr 0%;
        // grid-gap: 5px;

    }

    //header
    header {
        // background: #707070;
        grid-area: header;

        .logo-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-name {
                display: flex;
                align-items: center;

                gap: 10px;

                .picture-profil {
                    width: 70px;
                    height: 70px;
                    border-radius: 99px;




                }

                .span-name {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    font-weight: 500;
                    gap: 3px;

                    .name {
                        font-weight: 700;
                    }
                }
            }

            .burger {
                #checkbox {
                    display: none;
                }

                .toggle {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    transform: rotate(180deg);
                    gap: 10px;
                    transition-duration: .5s;
                }

                .bars {
                    width: 100%;
                    height: 4px;
                    background-color: #D41F1F;
                    border-radius: 4px;
                }

                #bar1 {
                    width: 100%;
                }

                #bar2 {
                    width: 75%;
                }

                #checkbox:checked+.toggle .bars {
                    position: absolute;
                    transition-duration: .5s;
                }

                #checkbox:checked+.toggle #bar2 {
                    transform: scaleX(0);
                    transition-duration: .1s;
                }

                #checkbox:checked+.toggle #bar1,
                #checkbox:checked+.toggle #bar3 {
                    width: 100%;
                    transition-duration: .5s;
                }

                #checkbox:checked+.toggle #bar1 {
                    transform: rotate(45deg);
                }

                #checkbox:checked+.toggle #bar3 {
                    transform: rotate(-45deg);
                }

                #checkbox:checked+.toggle {
                    transition-duration: .5s;
                    transform: rotate(180deg);
                }

            }
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            // color: white;
            justify-content: center;
            align-items: center;
            // font-size: 2em;
            margin: 80px auto;
            opacity: 0;
            transition: opacity 0.85s ease;

            h5 {
                font-size: 3rem;
                color: red;
            }
        }

    }

    nav {
        grid-area: nav;
        display: none;



        @media screen and (min-width:780px) {
            display: block;
            background: #151515;

            h1 {
                color: #FF0000;

                span {
                    color: #fff;
                }
            }

        }
    }

    #content {
        width: 100%;
        height: 100%;
        // background: #ABABAB;
        grid-area: section;
        overflow: scroll;


        &::-webkit-scrollbar {
            display: none;
        }

        h2,
        .text_maj {
            color: #fff;
            font-size: 1rem;
            font: 400;
            margin: 10px 10px;
        }

        .container_cards {
            margin: 20px 15px;
            display: flex;
            overflow: scroll;
            gap: 30px;

            &::-webkit-scrollbar {
                display: none;
            }




            .card {
                margin: auto;
                width: 100%;
                height: 100%;


                .img_card {
                    // position: absolute;                
                    position: relative;
                    background-image: url(/asset/picture/morbius.svg);
                    width: 90%;
                    min-width: 280px;
                    background-size: cover;
                    height: 197px;
                    margin: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.67%, rgba(0, 0, 0, 0.75) 61.46%);
                    border-radius: 24px;

                    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.42%, rgba(0, 0, 0, 0.75) 99.48%), url(/asset/picture/morbius.svg);
                    @media screen and (min-width:780px) {
                        width: 650px;
                        // width: 100%;
                        height: 321px;

                    }



                    .title-rating {
                        display: flex;
                        position: absolute;
                        justify-content: space-between;
                        bottom: 10px;
                        width: 100%;

                        .title {
                            width: auto;
                            margin: 0px 10px;

                            .text_maj {
                                // position: absolute;
                                color: #fff;
                                font-size: 1.2rem;
                                bottom: 25px;
                                margin: 0px 10px;
                            }

                            .studio {
                                // position: absolute;
                                color: #ffffff80;
                                font-size: .70rem;
                                bottom: 10px;
                                margin: 0px 10px;
                            }
                        }

                        //rating
                        .rating {
                            margin: auto 10px;
                        }

                        .rating:not(:checked)>input {
                            position: absolute;
                            appearance: none;
                        }

                        .rating:not(:checked)>label {
                            float: right;
                            cursor: pointer;
                            font-size: 1.4em;
                            color: #666;

                        }

                        .rating:not(:checked)>label:before {
                            content: '★';
                        }

                        .rating>input:checked+label:hover,
                        .rating>input:checked+label:hover~label,
                        .rating>input:checked~label:hover,
                        .rating>input:checked~label:hover~label,
                        .rating>label:hover~input:checked~label {
                            color: #e58e09;
                        }

                        .rating:not(:checked)>label:hover,
                        .rating:not(:checked)>label:hover~label {
                            color: #ff9e0b;
                        }

                        .rating>input:checked~label {
                            color: #ffa723;
                        }
                    }

                }


            }
        }

        .filter {
            width: 100%;
            height: auto;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .filter {
                margin: 12px 25px;
                display: flex;
                flex-direction: row;
                gap: 20px;

                span {
                    color: #ffffffb7;
                    font: 1.1rem;
                    cursor: pointer;
                }
            }
        }

        .container_filter_cards {
            display: flex;
            overflow: scroll;
            // gap: 20px;

            @media screen and (min-width:780px) {
                overflow: auto;
                // flex-wrap: wrap;

            }

            &::-webkit-scrollbar {
                display: none;
            }

            .card-filter {
                margin: 20px auto;
                // width: 100%;
                height: 100%;
                padding: 10px;


                .img_card {
                    // position: absolute;                
                    position: relative;
                    background-image: url(/asset/picture/morbius.svg);
                    // width: 100%;
                    width: 124px;
                    background-size: cover;
                    height: 124px;
                    margin: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.67%, rgba(0, 0, 0, 0.75) 61.46%);
                    border-radius: 24px;

                    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.42%, rgba(0, 0, 0, 0.75) 99.48%), url(/asset/picture/morbius.svg);
                    @media screen and (min-width:780px) {
                        width: 205px;
                        // width: 100%;
                        height: 136px;

                    }



                    .title-rating {
                        display: flex;
                        position: absolute;
                        justify-content: space-between;
                        bottom: 10px;
                        width: 100%;

                        .title {
                            width: auto;
                            margin: 0px 10px;

                            .text_maj {
                                // position: absolute;
                                color: #fff;
                                font-size: 1.2rem;
                                bottom: 25px;
                                margin: 0px 10px;
                            }

                            .year {
                                // position: absolute;
                                color: #ffffff80;
                                font-size: .70rem;
                                bottom: 10px;
                                margin: 0px 10px;
                            }
                        }


                    }

                    .rating-number {
                        display: none;

                        @media screen and (min-width:780px) {
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            position: relative;
                        }


                        .rating {
                            margin: auto 10px;
                            display: none;

                            @media screen and (min-width:780px) {
                                display: block;
                                // flex-direction: column;
                                // width: 100%;
                            }


                        }

                        .number_view {
                            width: 100%;
                            left: 10px;
                            text-align: right;
                            margin: auto -15px;



                            span {
                                width: 100%;
                                color: #e58e09;
                                font: 600;
                                font-size: 0.97rem;

                            }
                        }

                        .rating:not(:checked)>input {
                            position: absolute;
                            appearance: none;
                        }

                        .rating:not(:checked)>label {
                            float: right;
                            cursor: pointer;
                            font-size: 1.4em;
                            color: #666;

                        }

                        .rating:not(:checked)>label:before {
                            content: '★';
                        }

                        .rating>input:checked+label:hover,
                        .rating>input:checked+label:hover~label,
                        .rating>input:checked~label:hover,
                        .rating>input:checked~label:hover~label,
                        .rating>label:hover~input:checked~label {
                            color: #e58e09;
                        }

                        .rating:not(:checked)>label:hover,
                        .rating:not(:checked)>label:hover~label {
                            color: #ff9e0b;
                        }

                        .rating>input:checked~label {
                            color: #ffa723;
                        }
                    }

                }


            }
        }


    }

    footer {
        width: 100%;
        // height: 78px;
        background: #242A32;
        grid-area: footer;
        position: sticky;
        bottom: 0px;
        background-color: #242A32;

        @media screen and (min-width:780px) {

            display: none;
        }

        .menu_icon {
            width: 100%;
            height: 78px;
            display: flex;
            justify-content: center;

            // @media screen and (min-width:780px) {

            //     display: none;

            // }


            button,
            .icon {
                // width: 100%;
                width: 33%;
                height: 100%;
                // padding: 20px;
                align-items: center;

                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                cursor: pointer;
                background: none;
                border: none;

                &:active {
                    color: #D41F1F;
                }

                img {
                    width: 21.74px;
                    height: 24px;
                    margin: auto;




                }

                span {
                    margin: 4px auto;
                    font-size: 0.90em;
                    white-space: nowrap;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font: 400;
                }
            }
        }
    }

    // header,
    // nav,
    // section,
    // aside,
    // footer {
    //     padding: 5px;
    // }
}